**/squareline/backup/**
**/squareline/autosave/**
components/lvgl/**
build/
managed_components/
sdkconfig.old
dependencies.lock
.DS_Store
.cache/
screenshots/
*.jpg
*.jpeg
*.png
!docs/images/**
!docs/images/*.jpg
!docs/images/*.jpeg
!docs/images/*.png
